body {
  margin: 0;
}



.header {
  width: 100%;
  height: 950px;
  background-image: url(../img/header-pfoto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  width: 100%;
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  left: 0;
  top: 0;
  width: 100%;
  height: 950px;
  opacity: 0.6;
  z-index: 2;
}

.header-nav {
  display: flex;
  justify-content: center;
  z-index: 3;
}

.header-menu {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 1200px;
  padding: 0;
  margin-top: 26px;
  margin-left: 59px;

}

.header-menu li {
  list-style-type: none;
  margin-right: 11px;
}

.header-link {
  padding: 5px;
  margin: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 21px;
}

.find {
  margin-right: 14px;
}

.heart {
  margin: 0;
}

.header-link-logo {
  margin-left: 71px;
  margin-right: 46px;
}

a {
  text-decoration: none;
  /* color: #fff; */
}

.header-text {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text h2 {
  color: #ffffff;
  font-family: "NotoSerif-Bold";
  font-size: 36px;
  margin-bottom: 50px;
}

.part-logo-one {
  display: inline-block;
  position: relative;
  top: -15px;
  left: 40px;
}

.part-logo-two {
  display: inline-block;
  position: relative;
  top: -15px;
  left: -40px;
}

.list-company-name {
  list-style-type: none;
  padding: 0;
  margin-bottom: 26px;
}

.list-company-name::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -243px;
}

.list-company-name li {
  display: inline-block;
  padding: 0 13px;
}

.button-product-catalog {
  width: 261px;
  height: 51px;
  background-color: #333333;
  border: 1px solid #ffffff;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Gilroy-Medium";
  text-align: center;
  margin-bottom: 93px;
}

.decorations-for-events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decorations-title {
  text-align: center;
  margin-top: 80px;
  margin-right: 22px;
}

.decorations-title p {
  font-size: 21px;
  line-height: 29px;
  color: #333333;
  font-family: "Gilroy-Regular";
  margin-bottom: 0px;
}

.decorations-title h2 {
  font-size: 30px;
  color: #333333;
  font-weight: 700;
  font-family: "NotoSerif-Bold";
  margin-top: 15px;
}

.decorations-link-block {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Gilroy-Medium";
  margin: 58px 35px 62px;
}

.decorations-link {
  color: #000;
  min-width: 165px;
  height: 55px;
  /* background-color: #f9f9f9; */
  border: 1px solid #d6d6d6;
  padding: 20px;
  margin: 10px;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
}

.decorations-link::before {
  content: "";
  position: absolute;
  left: .5em;
  top: .5em;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: inherit;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 29px 15px;
  margin-top: 8px;
  margin-bottom: 122px;
}

.catalog-block {
  width: 350px;
  height: 280px;
  margin-right: 18px;
}

.catalog-block-title {
  font-family: "Gilroy-Medium";
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  margin-top: 222px;
  text-align: center;
}

.catalog-block-one {
  background-image: url(../img/twoRings.png);
}

.catalog-block-two {
  background-image: url(../img/women.png);
}

.catalog-block-three {
  background-image: url(../img/pendants.png);
}

.catalog-block-four {
  background-image: url(../img/cufflinks.png);
}

.catalog-block-five {
  background-image: url(../img/bracelets.png);
}

.catalog-block-six {
  background-image: url(../img/watch.png);
}

.our-showrooms {
  background-image: url(../img/background.png);
  /* background-color: #000; */
  height: 480px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}

.our-showrooms-block {
  color: #ffffff;
  width: 850px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.our-showrooms-block-title {
  color: #ffffff;
  font-size: 21px;
  line-height: 29px;
  color: #ffffff;
  font-family: "Gilroy-Regular";
  margin-top: 89px;
  margin-bottom: 15px;

}

.our-showrooms-text {
  font-size: 19px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Gilroy-Regular";
  /* text-align: center; */
}

.our-showrooms h2 {
  font-size: 28px;
  /* color: #ffffff; */
  font-weight: 700;
  font-family: "NotoSerif-Bold";
  margin-top: 0;
  letter-spacing: 1px;
  margin-bottom: 36px;
}

.our-showrooms-block button {
  width: 224px;
  height: 51px;
  background-color: #ffffff;
  border: 1px solid #333333;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 500;
  font-family: "Gilroy-Medium";
  text-align: center;
  margin-top: 41px;
  margin-left: -21px;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.several-blocks {
  display: flex;

}

.articles h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "NotoSerif-Bold";
  margin-top: -7px;
  margin-bottom: 45px;

}

.articles p {
  font-size: 21px;
  line-height: 29px;
  font-family: "Gilroy-Regular";
  margin-top: 123px;
}

.one-article {
  width: 350px;
  height: 370px;
  background-color: bisque;
  margin: 15px;
}

.one-article p {
  font-size: 21px;
  line-height: 29px;
  color: #ffffff;
  font-family: "Gilroy-Regular";
  text-align: center;
  margin: 249px auto 0;
  width: 210px;

}

.one-article-first {
  background-image: url(../img/watchForWife.png)
}

.one-article-second {
  background-image: url(../img/cufflinksForHusband.png)
}

.one-article-third {
  background-image:
    url(../img/weddingRings.png);
}

.articles button {
  width: 255px;
  height: 51px;
  background-color: #333333;
  border: 1px solid #ffffff;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Gilroy-Medium";
  text-align: center;
  margin-top: 45px;
}

.blockWithPictures {
  width: 1110px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: aqua;
  margin-bottom: 163px;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oneBlockWithPictures {}

.oneBlockWithPictures-first {
  background-image: url(../img/img--hover.png);
  grid-column: span 2;
}

.oneBlockWithPictures-second {
  background-image: url(../img/socialMedia2.png);
}

.oneBlockWithPictures-third {
  background-image: url(../img/socialMedia3.png);
}

.oneBlockWithPictures-fourth {
  background-image: url(../img/socialMedia4.png);
}

.oneBlockWithPictures-fifth {
  background-image: url(../img/socialMedia5.png);
}

.oneBlockWithPictures-sixth {
  background-image: url(../img/socialMedia6.png);
  grid-column: span 2;
}

.oneBlockWithPictures-first .vectorPlay {
  background-image: url(../img/VectorPlay.png);
  width: 70px;
  height: 70px;
  margin: 113px auto;
}

.oneBlockWithPictures-sixth .vectorPlay {
  background-image: url(../img/VectorPlay.png);
  width: 70px;
  height: 70px;
  margin: 113px auto;
}

.socialMedia p {
  font-family: "Gilroy-Regular";
  font-size: 21px;
  line-height: 29px;
  margin-top: 121px;
}

.socialMedia h2 {
  font-family: "NotoSerif-Bold";
  font-size: 30px;
  font-weight: 700;
  margin-top: -7px;
  margin-bottom: 60px;
}

.newsletter ul {
  list-style-image: url(../img/Frame.png);
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  font-family: "Gilroy-Regular";
  padding-left: 44px;
  margin-top: 21px;
}

.newsletter li {
  padding: 8px 14px;
}

.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.newsletter-form {
  width: 418px;
  height: 86px;
  background-color: #ffffff;
  outline: 1px solid #ffffff;
  border: 13px solid #070707;
  display: flex;
  align-items: center;
  margin-left: 55px;
  margin-top: 28px;
  margin-right: 59px;
}

.newsletter-form button {
  width: 159px;
  height: 45px;
  background-color: #333333;
  border: 1px solid #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Gilroy-Medium";
  text-align: center;
  margin: auto;
}

.newsletter-form input {
  width: 199px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  /* opacity: 0.502; */
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* color: #333333; */
  /* font-weight: 500; */
  font-family: "Gilroy-Medium";
  /* text-align: center; */
  margin: auto;
  margin-right: -7px;
  box-sizing: border-box;
  padding-left: 19px;
}

.contactInformation {
  width: 1110px;

}

.basicInformation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 48px;
  margin-bottom: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicInformation-blok {
  width: 255px;
  padding-right: 30px;
}



.basicInformation-blok h3::after {
  content: '';
  position: relative;
  display: block;
  width: 252px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  top: 8px;
}

.basicInformation-blok ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "Gilroy-Regular";
  margin-top: 33px;
}

.basicInformation-blok li {
  padding: 0 0;
  padding: 6px 0 8px;
}


.basicInformation-blok a {
  color: #000;
}

.basicInformation-blok h3 {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 25px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 500;
  font-family: "Gilroy-Medium";
}

.basicInformation-blok p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  font-family: "Gilroy-Medium";
  padding: 20px 0;
  margin-bottom: 0;
}

.basicInformation-payment-link a {
  padding-right: 16px;
}

.basicInformation-contacts img {
  padding-right: 21px;
}

.basicInformation-socialMedia div a {
  padding-right: 19px;
  padding-left: 3px;
}

.basicInformation-socialMedia div {
  padding: 3px 0px
}

.additionalInformation ul {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-family: "Gilroy-Regular";
}

.additionalInformation-list {
  display: inline-block;
  display: inline-block;
  padding-right: 181px;
  padding-top: 4px;
}

.additionalInformation::before {
  content: "";
  display: block;
  position: relative;
  width: 1110px;
  height: 2px;
  background-color: #000;
}

.figma-end {
  padding: 0;
}



























@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy-Regular.woff);
}

@font-face {
  font-family: "NotoSerif-Bold";
  src: url(../fonts/NotoSerif-Bold.woff);
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.woff);
}